<!DOCTYPE html>
<html lang="en" data-theme='dark'>
  <head>
    {% include "head.njk" %}
  </head>
  <body>
    <section>
      <header>
          {% include "mainHeader.njk" %}
      </header>
      <main>
        {% include "mainContent.njk" %}
      </main>
      <nav>
        {% include "cardList.njk" %}
      </nav>
      <footer>
        {% include "footer.njk" %}
      </footer>
    </section>
  </body>
</html>