<section class="main-header">
    <nav class="main-header__inside">
        <a class="main-header__name" href="{{ siteData.site.url }}/">
            {{ siteData.site.name }}
        </a>
    </nav>
</section>