<!DOCTYPE html>
<html lang="en" data-theme='dark'>
  <head>
    <!-- base meta -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta       http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- title & description -->
    <title>{{ title }} | {{ siteData.site.name }}</title>
    <meta name="description" content="{{ siteData.site.description }}"/>
    <!-- site links -->
    <link rel="canonical" href="{{ siteData.site.url }}{{ page.url }}"/>
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
    <!-- stylesheets -->
    <link rel="stylesheet" href="{{ '/css/style.css' | url }}"/>
  </head>
  <body>
    <header class="main-header">
      <div class="main-header__inside">
        <a class="main-header__name" href="{{ siteData.site.url }}/">
          {{ siteData.site.name }}
        </a>
      </div>
    </header>
    <main id="main" class="flow">
      <section class="flow">
        {% if image.name %}
          <a href="{{ link }}">
            <img class="aspect" src="{{ image.name }}.jpg" alt="{{ image.alt }}"/>               
          </a>
        {% endif %}
        {% if title %}
          <h1>{{ title }}</h1>
          <h2 style="margin-top:0!important;">{{ subtitle }}</h2>
          <p class="excerpt">{{ excerpt }}</p>
          <p class="first-para">{{ firstPara }}</p> 
        {% endif %}
      </section>
      {{ content | safe}}
    </main>
    <footer>
      <aside class="flex top">
        <div class="flex__item">
            ©2025
        </div>
      </aside>
    </footer>
  </body>
</html>