<!DOCTYPE html>
<html lang="en" data-theme='dark'>
  <head>
    {% include "./partials/head.njk" %}
  </head>
  <body>
    <section>
      <header>
          {% include "./partials/mainHeader.njk" %}
      </header>
      <main>
        {% include "./partials/mainContent.njk" %}
      </main>
      <nav>
        {% include "./partials/cardList.njk" %}
      </nav>
      <footer>
        {% include "./partials/footer.njk" %}
      </footer>
    </section>
  </body>
</html>