<section class="flow">
    {% if image.name %}
        <figure>
            <a href="{{ link }}">
                <div class="aspect">
                <picture>
                    <source 
                    type="image/jpeg"
                    srcset="{{ image.name }}-1800.jpg"
                    media="(min-width: 675px)"
                    />
                    <source 
                    type="image/jpeg"
                    srcset="{{ image.name }}-1350.jpg"
                    media="(min-width: 450px)"
                    />
                    <source 
                    type="image/jpeg"
                    srcset="{{ image.name }}-900.jpg"
                    />
                    <img 
                    src="{{ image.name }}.jpg" 
                    alt="{{ image.alt }}"
                    />
                </picture>
                </div>
            </a>
        </figure>
    {% endif %}
    {% if title %}
        <h1>{{ title }}</h1>
        <h2 style="margin-top:0!important;">{{ subtitle }}</h2>
        <p class="excerpt">{{ excerpt }}</p>
        <p class="first-para">{{ firstPara }}</p>
    {% endif %}
</section>