@use 'config';

p {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

a {
    text-decoration: underline;
    text-decoration-thickness: 0.01em;
    text-underline-offset: 0.2em;
    color: var(--color-text);

    &:hover {
        color: config.$color-red;
        text-decoration: none;
    }
}

.list-card {
    border: 0.5px solid var(--color-text);
    display: flex; 
    flex-direction: column; 
    justify-content: space-between;

    &__header {
        padding: 0.5rem 0;
    }

    &__link {
        text-decoration: none;
    }

    &__text {
        font-size: config.$size-2;
        line-height: config.$line-3;
        color: config.$color-blue;
    }
}