@use 'config';

.main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 3.5rem;
  background-color: config.$color-dgrey;

  &__inside {
    display: flex;
    flex-direction: row;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    max-width: config.$max-w;
  }

  &__name {
    font-family: config.$font-head;
    font-size: config.$size-3;
    letter-spacing: -0.125em;
    word-spacing: -0.6rem;
    color: config.$color-white;
    padding-top: 0.75rem;
    flex-grow: 1;
    text-decoration: none;
  
    @media (min-width: 700px) {
      font-size: config.$size-4;
      letter-spacing: 0;
      word-spacing: 0;
      padding-top: 0.5rem;
    }
  }
}