@use "config";

.inspiration-image {
  aspect-ratio: 1.34;
  border: 0.5px solid config.$color-grey;
  max-width: 50%;
  float: right;
}

.caption {
  font-size: config.$size-1;
  line-height: config.$line-3;
}
