@use "config";

.inspiration {
  max-width: 47.5%;

  &__right {
    float: right;
    margin: 0.75rem 0 0.5rem 1rem;
  }

  &__left {
    float: left;
    margin: 0.75rem 1rem 0.5rem 0;
  }

  &__image {
    border: 0.5px solid config.$color-grey;
  }

  &__image-caption {
    font-size: config.$size-1;
    font-style: italic;
  }
}

.inspiration-small {
	max-width: 30%;
}
