@use 'config';

blockquote {
  font-family: config.$font-head;
  font-style: italic;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  font-size: config.$size-2;
  line-height: config.$line-4;
  quotes: "\201C""\201D";

  &:before {
    font-family: config.$font-quote;
    font-style: normal;
    color: config.$color-grey;
    content: open-quote;
    font-size: 3.5rem;
    line-height: 0;
    vertical-align: -1.5rem;
    margin-left: 0.75rem;
  }

  p {
    margin-top: 0.75rem;

    &:first-child {
      margin-top: -1rem;
      text-indent: 1.5rem;
    }
  }

  footer {
    font-style: normal;
    font-size: config.$size-1;
    color: config.$color-blue;
    margin-left: 0.75rem;
    margin-top: 0.25rem;

    &:before {
      content: "—";
    }
  }
}