@use 'config';

.category-title {
    font-family: config.$font-head;
    font-size: config.$size-1;
    line-height: config.$line-2;
    color: var(--color-text);
    margin-top: 1rem;
    margin-left: 0.75rem;
  
    &:hover {
      color: config.$color-blue;
    }
  
    @media (min-width: 700px) {
      font-size: config.$size-2;
      line-height: config.$line-3;
      margin-top: 1.5rem;
    }
  }
  
  .excerpt {
    font-style: italic;
    font-size: config.$size-2;
    line-height: config.$line-3;
  
    @media (min-width: 700px) {
      font-size: config.$size-3;
      line-height: config.$line-4;
    }
  }

  .excerpt-front {
    font-style: italic;
    font-size: config.$size-2;
    line-height: config.$line-3;
    padding-left: 0.75rem;

    @media (min-width: 700px) {
      font-size: config.$size-3;
      line-height: config.$line-4;
    }
  }
  
  .first-para {
    font-size: config.$size-2;
    line-height: config.$line-2;
  
    @media (min-width: 700px) {
      font-size: config.$size-3;
      line-height: config.$line-3;
    }
  }
  
  .aspect {
    width: 100%;
    height: auto;
  }