@use 'config';
  
  .excerpt {
    font-style: italic;
    font-size: config.$size-2;
    line-height: config.$line-3;
  
    @media (min-width: 700px) {
      font-size: config.$size-3;
      line-height: config.$line-4;
    }
  }

  .excerpt-front {
    font-style: italic;
    font-size: config.$size-2;
    line-height: config.$line-3;
    padding-left: 0.75rem;

    @media (min-width: 700px) {
      font-size: config.$size-3;
      line-height: config.$line-4;
    }
  }
  
  .first-para {
    font-size: config.$size-2;
    line-height: config.$line-2;
  
    @media (min-width: 700px) {
      font-size: config.$size-3;
      line-height: config.$line-3;
    }
  }
  
  .aspect {
    width: 100%;
    height: auto;
  }