

{% macro imagePage(filename, title, projects, text) %}
  
  <h2 id="{{ title }}">{{ title }}</h2>
  <p>{{ text }}</p>
  <ul>
    <li class="projects">{{ projects }}</li>
  </ul>
  <div class="book-image">
    <picture>
      <source 
        type="image/jpeg"
        srcset="{{ filename }}-1800.jpg"
        media="(min-width: 675px)"
      />
      <source 
        type="image/jpeg"
        srcset="{{ filename }}-1350.jpg"
        media="(min-width: 450px)"
      />
      <source 
        type="image/jpeg"
        srcset="{{ filename }}-900.jpg"
      />
      <img 
        src="{{ filename }}.jpg" 
        alt="{{ alt }}"
      />
    </picture>
  </div>
  
{% endmacro %}